---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CardRegister from "../components/Card-Register.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Register | DarkType">
  <div class="wrapper">
  <Header/>
    <main>
      <CardRegister/>
    </main>
    <Footer/>
  </div>
</Layout>
