<header class="w-[100%]  mt-8 mb-6 top-0">
  <nav class="flex flex-row items-center justify-between ">

    <ul class="flex gap-4 items-center justify-center">
      <a href="/"><svg  class=" lg:w-12 lg:h-12 md:w-8 md:h-8 w-6 h-6 fill-[#e0dede] cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
      </a>
        <a href="/LeaderBoard">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="  lg:w-12 lg:h-12 md:w-8 md:h-8 w-6 fill-[#e0dede] cursor-pointer"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6l277.2 0c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z"/></svg>
    </a>
    </ul>
    <li id="userLoggedIn" class="list-none hidden text-lg md:text-xl lg:text-2xl font-bold"></li>
       <div class="flex flex-row gap-4 items-center justify-center">
              <button id="loggedOut" class="list-none text-[#843dff] font-bold hidden cursor-pointer"><svg class="fill-[#e0dede] lg:w-12 lg:h-12 md:w-8 md:h-8 w-6 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M352 224l-46.5 0c-45 0-81.5 36.5-81.5 81.5c0 22.3 10.3 34.3 19.2 40.5c6.8 4.7 12.8 12 12.8 20.3c0 9.8-8 17.8-17.8 17.8l-2.5 0c-2.4 0-4.8-.4-7.1-1.4C210.8 374.8 128 333.4 128 240c0-79.5 64.5-144 144-144l80 0 0-61.3C352 15.5 367.5 0 386.7 0c8.6 0 16.8 3.2 23.2 8.9L548.1 133.3c7.6 6.8 11.9 16.5 11.9 26.7s-4.3 19.9-11.9 26.7l-139 125.1c-5.9 5.3-13.5 8.2-21.4 8.2l-3.7 0c-17.7 0-32-14.3-32-32l0-64zM80 96c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-48c0-17.7 14.3-32 32-32s32 14.3 32 32l0 48c0 44.2-35.8 80-80 80L80 512c-44.2 0-80-35.8-80-80L0 112C0 67.8 35.8 32 80 32l48 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L80 96z"/></svg>
      </button>


            <a href="/Register">
        <svg  class=" lg:w-12 lg:h-12 md:w-8 md:h-8 w-6 fill-[#e0dede] cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
      </a>
    </div>
  </nav>
</header>

<script>
import { supabase } from "../supabaseClient";


 const username = localStorage.getItem('userName');
 const isLoggedIn = localStorage.getItem('isLoggedIn');
 const $liUserLogin = document.querySelector('#userLoggedIn');
const $isLoggedOut = document.querySelector('#loggedOut')
if(isLoggedIn){
  $liUserLogin.innerHTML = `${username}`;
  $liUserLogin.classList.remove('hidden');
  $isLoggedOut.classList.remove('hidden');
}

async function logoutUser() {
  let { error } = await supabase.auth.signOut();
  
  if (error) {
    console.log(`Error to loggedIn: ${error.message}`);
  } else {
    console.log("Session is closed correctly");
    localStorage.clear();
  }
  location.reload();
}
$isLoggedOut.addEventListener('click',logoutUser)
</script>